<h1>List of Patients</h1>

<ul>
    <% @patients.each do |patient| %>
        <li><strong>Name:</strong> <%= link_to patient.name, patient %><br>
        <strong>Number of Appointments:</strong> <%= patient.total_appointments %></li><br>
    <% end %>
</ul>